html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./images/background.png);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #1A1826;
  background-attachment: fixed;
}

#datacenterDashboard {
  position: relative;
  min-height: 100vh;
}

main{
  padding: 20px 0 30px;
  display: block;
}

.box-dashboard .welcome-title{
  color: #6c757d;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 2px;
    user-select: none;
    padding-left: 3vw;
}

h2{
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.dropdown-row{
  display: flex;
  padding-left: 3vw;
  padding-top: 1vh;
}

.inputMessage{
  display: flex;
  background-color: #1c1929;
  border-radius: 10px;
  box-shadow: 0 12px 26px rgb(0 0 0 / 40%);
  color: rgba(255,255,255,.65);
  margin-bottom: 20px;
  flex-grow: 0;
  max-width: 45%;
  flex-basis: 50%;
  position: relative;
}

.message{
  background-color: #1c1929;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 25%);
  border-radius: 5px;
  font: inherit;
  color: #FFFFFF;
  width: 100%;
  border: 0;
  height: 75vh;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  box-sizing: content-box;
  letter-spacing: inherit;
  text-align:center;
}

.outputMessage{
  display: flex;
  background-color: #1c1929;
  border-radius: 10px;
  box-shadow: 0 12px 26px rgb(0 0 0 / 40%);
  color: rgba(255,255,255,.65);
  margin-bottom: 20px;
  flex-grow: 0;
  max-width: 45%;
  flex-basis: 45%;
  position: relative;
}

.messageContainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    padding: 2vh;
}

.resultHeader{
  color: #6c757d;
    padding: 21px 15px 18px;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.generateDiv{
  padding-left: 2vw;
}

.generateButton{
    height: 50px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 80%);
    border-radius: 9px;
    background-image: linear-gradient(
      266deg,rgb(141,142,254) 0%,rgb(148,129,246) 100%)
}

.resetDiv{
  padding-left: 2vw;
}

.resetButton{
    height: 50px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 80%);
    border-radius: 9px;
    background-image: linear-gradient(266deg,rgb(130,212,240) 0%,rgb(122,140,255) 100%)
}

button{
  padding: 10px 30px;
  color: white;
  border-radius: 2px;
  font-weight: 700;
  border: none;
}

.gen-select{
  display: block;
}

.switch-button::before {
  content: "Decryption";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.switch-button{
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.76);
  border-radius: 10px;
  overflow: hidden;
  width: 160px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  color: black;
  position: relative;
  padding-right: 160px;
  position: relative;
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  font-size: 14px;
  background-color: #dddedf;
}

.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  transform: translateX(0);
  transition: transform 100ms;
}

.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(160px);
  transition: transform 100ms linear;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: #eaeaea;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path fill="black" d="M4 8L0 4h8z"/></svg>');
  fill: white;
  padding: .5em;
  padding-right: 1.5em;
  border-radius: 0;
  color: white;
  width: 15vw;
  height: 45px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 80%);
  border-radius: 10px;
  background-color: #e8e8e8;
  text-align-last: center;
  color: black;
}

.select-dropdown{
  padding-left: 2vw;
}

.dont-show {
  display: none !important;
}

input:focus {
  outline: none;
}

#results{
  padding: 20px;
}