<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption</title>

    <!-- <link rel="stylesheet" href="styles.css"> -->

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles.css') }}">

</head>

<body class="home-page">
    <form action="{{ url_for('encryption') }}" method="post">
    <!-- <form action="/encryption" method="post"> -->
        
    <main id="dashboard">
        <div class="col-12 box-dashboard">
            <h2 class="welcome-title mb-0">Group 4 - Processing Encrypted Data</h2>
        </div>

       <div class="dropdown-row">
          <div class="gen-select">
              <div class="switch-button">
                <input class="switch-button-checkbox" id="gen-select-button" type="checkbox" onclick="check()">
                <label class="switch-button-label" for="gen-select-button">
                  <span class="switch-button-label-span">Encryption</span>
                </label>
              </div>
          </div>

        <div class="select-dropdown" id="encryption">
            <select name="encMethod" id="method-type">
              <option id="encMethod" value="Encryption Method" disabled selected>Encryption Method</option>
              <option name="caesarCipher" value="Caesar Cipher">Caesar Cipher</option>
              <option name="reverseCipher" value="Reverse Cipher">Reverse Cipher</option>
              <option name="aes" value="AES">AES (Advanced Encryption Standard)</option>
              <option name="homomorphicEnc" value="Homomorphic Encryption">Homomorphic Encryption</option>
            </select>
        </div>

        <div class="select-dropdown" id="decryption">
          <select name="decMethod" id="method-type">
            <option name="decMethod" value="Decryption Method" disabled selected>Decryption Method</option>
            <option name="caesarCipher" value="Caesar Cipher">Caesar Cipher</option>
            <option name="reverseCipher" value="Reverse Cipher">Reverse Cipher</option>
            <option name="aes" value="AES">AES (Advanced Encryption Standard)</option>
            <option name="homomorphicDec" value="Homomorphic Decryption">Homomorphic Decryption</option>
          </select>
        </div>
        
        <div class="generateDiv">
          <button type="submit" onclick="unselectedAlert()" class="generateButton" action="/encryption" method="post">Generate</button>
        </div>

        <div class="resetDiv">
          <button class="resetButton" onclick="resetResults()">Reset</button>
        </div>
        
      </div>

        <div class="messageContainer">
          <div class="inputMessage">
            <input name="message" placeholder="Enter Message Here" aria-label="description" class="message" value>
          </div>
          <div class="outputMessage">
            {% if message %}
              <div style="width: 100%;">
                <p class="resultHeader">Generated Result</p>
                {% autoescape false %}
                <span class="results" id="results">{{message}}</span>
                {% endautoescape %}
              </div>
            {% endif %}
            
          </div>
        </div>
    </main>

    </form>
    <script type="text/javascript" src="/static/encDec.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>