<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption</title>

    <!-- <link rel="stylesheet" href="styles.css"> -->

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles.css') }}">

</head>

<body class="home-page">
    <form action="{{ url_for('encryption') }}" method="post">
    <!-- <form action="/encryption" method="post"> -->
        
    <main id="dashboard">
        <div class="col-12 box-dashboard">
            <h2 class="welcome-title mb-0">Group 4 - Processing Encrypted Data</h2>
        </div>

       <div class="dropdown-row">
          <div class="gen-select">
              <div class="switch-button">
                <input class="switch-button-checkbox" id="gen-select-button" type="checkbox" onclick="check()">
                <label class="switch-button-label" for="gen-select-button">
                  <span class="switch-button-label-span">Encryption</span>
                </label>
              </div>
          </div>

        <div class="select-dropdown" id="encryption">
            <select name="encMethod" id="method-type" onchange="toggle()">
              <option id="encMethod" value="Encryption Method" disabled selected>Encryption Method</option>
              <option name="caesarCipher" value="Caesar Cipher">Caesar Cipher</option>
              <option name="reverseCipher" value="Reverse Cipher">Reverse Cipher</option>
              <!-- <option name="aes" value="AES">AES (Advanced Encryption Standard)</option> -->
              <option name="homomorphicEnc" value="Homomorphic Encryption">Homomorphic Encryption</option>
            </select>
        </div>

        <div class="select-dropdown" id="decryption">
          <select name="decMethod" id="method-type">
            <option name="decMethod" value="Decryption Method" disabled selected>Decryption Method</option>
            <option name="caesarCipher" value="Caesar Cipher">Caesar Cipher</option>
            <option name="reverseCipher" value="Reverse Cipher">Reverse Cipher</option>
            <!-- <option name="aes" value="AES">AES (Advanced Encryption Standard)</option> -->
          </select>
        </div>
        
        <div class="generateDiv">
          <button type="submit" class="generateButton" action="/encryption" method="post">Generate</button>
        </div>

        <div class="resetDiv">
          <button class="resetButton" onclick="resetResults()">Reset</button>
        </div>
        
      </div>

      <div id="tutorial-message">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non sagittis magna. Duis euismod 
          tincidunt sem, ac aliquam erat tempor malesuada. Sed ipsum arcu, laoreet nec enim quis, pretium scelerisque leo. 
          Aenean eu nisi quam. Vivamus eleifend orci vitae sagittis viverra. Phasellus in condimentum mi, non euismod arcu.
          Proin dapibus cursus ultrices. Aliquam erat volutpat. Donec eu velit gravida velit suscipit imperdiet. Donec id vestibulum
          arcu, vel lacinia risus. Nulla ut mi urna. Praesent malesuada sem vel elit ultrices, ut tincidunt urna vestibulum. 
          Aliquam et egestas tellus, eu egestas metus. Ut vitae lorem eget dolor varius ullamcorper sed rutrum felis. 
          Duis efficitur ultrices placerat.</span>
      </div>

        <div class="messageContainer">
          <div class="inputMessage">
            <input id="message-box" name="message" placeholder="Enter Message Here" aria-label="description" class="message" value>
            <div id="homomorphic-choices">
              <span>Alice:</span>
              <select name="homomorphic-method-type-1" id="homomorphic-method-type" style="margin-top: 30vh; margin-left: 3vw;">
                <!-- <option value="choice" disabled selected>Enter Choice</option> -->
                <option value="0">0</option>
                <option value="1">1</option>
              </select>

              <span style="margin-left: 0.88vw;">Bob: </span>

              <select name="homomorphic-method-type-2" id="homomorphic-method-type" style="margin-top: 3vh;  margin-left: 2.5vw;">
                <!-- <option value="choice" disabled selected>Enter Choice</option> -->
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
            </div>

            <div id="homomorphic-choices-2">
              <select name="homomorphic-method-type-3" id="homomorphic-method-type" style="margin-top: 30vh; margin-left: 3vw;">
                <!-- <option value="choice" disabled selected>Enter Choice</option> -->
                <option value="0">0</option>
                <option value="1">1</option>
              </select>

              <select name="homomorphic-method-type-4" id="homomorphic-method-type"  style="margin-top: 3vh;  margin-left: 3vw;">
                <!-- <option value="choice" disabled selected>Enter Choice</option> -->
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
            </div>
          </div>
          <div class="outputMessage">
            {% if message %}
              <div style="width: 100%;">
                <p class="resultHeader">Generated Result</p>
                {% autoescape false %}
                <span class="results" id="results">{{message}}</span>
                {% endautoescape %}
              </div>
            {% endif %}
            
          </div>
        </div>
    </main>

    </form>
    <script type="text/javascript" src="/static/encDec.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>